.grid-container {
    display:grid;
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 30px;
    height:100vh;
    width:100vw;
}

.sidebar-container {
    grid-row-end: span 14;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.contentViewer {
    grid-column-end: span 6;
    width:100%;
    height:93%;
}

a.sidebaritem {
    display:block;
    color:rgba(0,0,0,.72);
    font-weight:bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

a:hover {
    background-color:rgba(0,0,0,.08);
}

a.sidebaritem.selected {
    background-color:rgba(0,0,0,.12);
}