div.navContainer {
    grid-row:1;
    padding: 0;
    overflow: hidden;
}

div.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5f5f5f;
    color: #f1f1f1;
    width: 100%;
    position: fixed;
    top: 0;
}

a.topnavitem {
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: "Segoe UI",Arial,sans-serif;
    float: left;
}

a.topnavitem:hover {
    background-color: #4CAF50;
}

a.topnavitem:last-child {
    border-bottom: none;
}