fieldset {
    border:none;
    margin:7px 0 7px 0;
    padding:0;
}

legend {
    font-weight:bold;
}

label {
    text-align:right;
    text-decoration:underline;
    font-weight:bold;
}

div.userinfo {
    background-color:#f1f1f1;
    float:left;
    border:none;
}

input.formfield {
    padding:7px 6px;
    display:inline-block;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    margin-right:5px;
    box-sizing:border-box;
    width:100%;
}

select.month_picker {
    padding:6px 15px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    margin-right:5px;
    box-sizing:border-box;
}

a.person_link {
    display:block;
}