.grid-container {
    display:grid;
    grid-template-columns:auto auto 1fr;
    grid-gap:20px;
}

.personform-container {
}

.parentsList-container {
}

.childrenList-container {
}

#savePerson {
    float:right;
}