div.navContainer {
    background-color: rgba(0, 2, 155, 0.65);
    color: #f1f1f1;
    width: 100%;
}

a.topnavitem {
    display: block;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: "Segoe UI",Arial,sans-serif;
    float: left;
}

a.topnavitem.selected {
    color: #000000;
    font-weight: bold;
}

a.topnavitem:hover {
    background-color: #4CAF50;
}

a.topnavitem:last-child {
    border-bottom: none;
}