.grid-container {
    display:grid;
    grid-template-rows: auto 1fr;
    height:100vh;
    width:100vw;
}

.sidebar-container {
    display:grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    background-color:rgba(102, 103, 118, 0.74);
}

.contentViewer {
    width:100%;
    height:100%;
    padding:20px 30px;
}

div.sidebaritem {
    display:block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

div.sidebaritem:hover {
    background-color:rgba(0,0,0,.08);
    cursor:pointer;
}

div.sidebaritem.selected {
    background-color:rgba(0,0,0,.12);
}