.grid-container {
    display:grid;
    grid-template-rows: auto 1fr;
}

.relatives-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.personform-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

#deleteBtn {
    margin-left: 10px;
    border: none;
    background-color: white;
    color: #d33104;
    text-decoration: underline;
}

#savePerson {
    float:right;
}